@model IEnumerable<Facebook.Models.ViewModels.SearchUserDto>
@{
    ViewData["Title"] = "Index";
    LayoutUserDto layoutUserDto = (LayoutUserDto)ViewData["LayoutData"];
}


@foreach (var user in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="company_profile_info">
            <div class="company-up-info">
                <img src="~/ProfilePics/@user.ProfilePic" alt="">
                <h3> <a href="~/Profile/Profile/@user.Id" title="" class="view-more-pro">@user.Fullname</a> </h3>
                <div class="row" style="text-align:center;">
                    <div class="col-1"></div>
                    <div class="col-9"> <h4 class="embed-responsive"> @user.Bio </h4> </div>
                    <div class="col-1"></div>
                </div>
                <ul>
                    @if (user.SocialStatus == 2 && user.Initiator == true && layoutUserDto.actions.Where(x => x.Url == "/Search/ConfirmFriendAction").Any())
                    {
                        <li id="usr_@user.Id"><button type="button" onclick='ConfirmFriendAjaxCall(@user.Id, @ViewData["LoggedUser"])' id="AcceptTag" title="" class="btn btn-success">Accept Request</button></li>
                    }
                    else if (user.SocialStatus == 2 && user.Initiator == false && layoutUserDto.actions.Where(x => x.Url == "/Search/RequestFriendAction").Any())
                    {
                        <li id="usr_@user.Id"><button type="button" onclick='CancelRequestAjaxCall(@ViewData["LoggedUser"], @user.Id)' id="CancelTag" title="" class="btn btn-warning">Cancel Request</button></li>
                    }
                    else if (user.SocialStatus == 1 && layoutUserDto.actions.Where(x => x.Url == "/Search/UnFriendAction").Any())
                    {
                        <li id="usr_@user.Id"><button type="button" onclick='UnFriendAjaxCall(@user.Id, @ViewData["LoggedUser"])' id="unfriendTag" title="" class="btn btn-danger">UnFriend</button></li>
                    }
                    else if(user.SocialStatus == 0 && layoutUserDto.actions.Where(x => x.Url == "/Search/RequestFriendAction").Any())
                    {
                        <li id="usr_@user.Id"><button type="button" onclick='AddFriendAjaxCall(@ViewData["LoggedUser"], @user.Id)' id="AddFriendTag" title="" class="btn btn-primary">Add Friend</button></li>
                    }
                </ul>
            </div>
            <a href="~/Profile/Profile/@user.Id" title="" class="view-more-pro">View Profile</a>
        </div><!--company_profile_info end-->
    </div>
}

@section scripts {
    <script>

        function ConfirmFriendAjaxCall(InitiatorId, DesiderId) {
            if (InitiatorId && DesiderId) {
                $.ajax({
                    type: "PUT",
                    url: `/Search/ConfirmFriendAction`,
                    data: {
                        "InitiatorId": InitiatorId,
                        "DesiderId": DesiderId
                    },
                    dataType: "json",
                    success: function (Response) {
                        
                        if (Response.success) {
                            toastr.success('Friend Is Added...', 'Done');
                            var unfrientTextTag = "<button type='button' onclick='UnFriendAjaxCall(" + InitiatorId + ", " + DesiderId + ")' id='unfriendTag' title='' class='btn btn-danger'>UnFriend</button>";

                            $("#usr_" + InitiatorId).html(unfrientTextTag);
                        }
                    },
                    error: function (error) {
                        alert("Error Happen " + error);
                    }

                });
            }
        }

        function UnFriendAjaxCall(InitiatorId, DesiderId) {
            if (InitiatorId && DesiderId) {
                $.ajax({
                    type: "DELETE",
                    url: `/Search/UnFriendAction`,
                    data: {
                        "InitiatorId": InitiatorId,
                        "DesiderId": DesiderId
                    },
                    dataType: "json",
                    success: function (Response) {
                        if (Response.success) {
                            toastr.success('Unfriended Successfully...', 'Done');
                            var addFriendTextTag = "<button type='button' onclick='AddFriendAjaxCall(" + DesiderId + ", " + InitiatorId + ")' id='CancelTag' title='' class='btn btn-primary'>Add Friend</button>";

                            $("#usr_" + InitiatorId).html(addFriendTextTag);
                        }
                    },
                    error: function (error) {
                        alert("Error Happen " + error);
                    }

                });
            }
        }

        function AddFriendAjaxCall(InitiatorId, DesiderId) {
            if (InitiatorId && DesiderId) {
                $.ajax({
                    type: "POST",
                    url: `/Search/RequestFriendAction`,
                    data: {
                        "InitiatorId": InitiatorId,
                        "DesiderId": DesiderId
                    },
                    dataType: "json",
                    success: function (Response) {
                        if (Response.success) {
                            toastr.success('Request is Sent...', 'Done');
                            var cancelRequestTextTag = "<button type='button' onclick='CancelRequestAjaxCall(" + InitiatorId + ", " + DesiderId + ")' id='CancelTag' title='' class='btn btn-warning'>Cancel Request</button>";
                            $("#usr_" + DesiderId).html(cancelRequestTextTag);
                        }
                    },
                    error: function (error) {
                        alert("Error Happen " + error);
                    }
                });
            }
        }

        function CancelRequestAjaxCall(InitiatorId, DesiderId) {
            if (InitiatorId && DesiderId) {
                $.ajax({
                    type: "DELETE",
                    url: `/Search/UnFriendAction`,
                    data: {
                        "InitiatorId": InitiatorId,
                        "DesiderId": DesiderId
                    },
                    dataType: "json",
                    success: function (Response) {
                        if (Response.success) {
                            toastr.success('Request is Canceled...', 'Done');
                            var addFriendTextTag = "<button type='button' onclick='AddFriendAjaxCall(" + InitiatorId + ", " + DesiderId + ")' id='CancelTag' title='' class='btn btn-primary'>Add Friend</button>";

                            $("#usr_" + DesiderId).html(addFriendTextTag);
                        }
                    },
                    error: function (error) {
                        alert("Error Happen " + error);
                    }
                });
            }
        }

    </script>
}