@model Facebook.Models.ViewModels.ProfilePageDto
@{
    ViewData["Title"] = @Model.UserInfo.FullName /*@TempData["Users"]*/;
    LayoutUserDto layoutUserDto = (LayoutUserDto)ViewData["LayoutData"];
}

@*Left Side (Info & Friend Requests & Footer)*@
<div class="col-lg-3 col-md-4 pd-left-none no-pd">
    <div class="main-left-sidebar no-margin">
        <div class="user-data full-width">
            <div class="user-profile">
                <div class="username-dt">
                    <div class="user-pic-edit" id="profilePhoto">
                        @{
                            if (Model.UserProfilePhoto == null)
                            {
                                if (Model.UserInfo.GenderName == "Male")
                                {
                                    <img style="background:whitesmoke;"
                                         src="~/ProfilePics/default.jpg" alt="">
                                }
                                else
                                {
                                    <img style="background:whitesmoke;"
                                         src="~/ProfilePics/default_female.png" alt="">
                                }
                                @*<img src="~/ProfilePics/default.jpg" alt="">*@
                            }
                            else
                            {
                                <img src="~/ProfilePics/@Model.UserProfilePhoto" alt="">
                            }
                            @if (Model.CanEditProfileWritePost)
                            {
                                <div class="uploadImageContainer">
                                    <label for="file-upload" class="custom-file-upload">
                                        <a id="upload" data-toggle="modal" data-target="#myModalUpload">
                                            <i class="fas fa-camera" id="cameraUploadImage"></i>
                                        </a>
                                    </label>
                                </div>
                            }
                        }
                        @*<img src="@Model.UserProfilePhoto" alt="">*@
                    </div>
                </div><!--username-dt end-->
                <div class="user-specs">
                    <h3>
                        <a class="fullNameCurrent" asp-action="Profile" asp-controller="Profile" asp-route-id="@Model.UserInfo.id">
                            @Model.UserInfo.FullName
                        </a>
                    </h3>
                    <span class="bioInfo">
                        <p id="bioContent">
                            @Model.UserInfo.Bio
                        </p>
                    </span>

                    @{
                        if (layoutUserDto.actions.Where(x => x.Url == "/Profile/AddFriend").Any())
                        {
                            if (!@Model.CanEditProfileWritePost  /*Do not show buttons*/)
                            {
                                <div id="addRemoveFriendContainer" class="addRemoveFriend">
                                    @if (Model.btnRelationStatus == FriendRelationStatus.Remove)
                                    {
                                        <button id="removeFriendBtn" type="button" class="btn btn-danger" onclick="RemoveFriend(@Model.CurrentUserId, @Model.UserInfo.id)">
                                            Remove Friend
                                        </button>
                                        <button id="addFriendBtn" type="button" style="display:none" class="btn text-white button-addfriend" onclick="AddFriend(@Model.CurrentUserId, @Model.UserInfo.id)">
                                            Add Friend
                                        </button>
                                    }
                                    else if (Model.btnRelationStatus == FriendRelationStatus.Pending)
                                    {
                                        <p class="text-info">Pending Request</p>
                                    }
                                    else
                                    { // FriendRelationStatus.Add
                                        <button id="addFriendBtn" type="button" class="btn text-white button-addfriend" onclick="AddFriend(@Model.CurrentUserId, @Model.UserInfo.id)">
                                            Add Friend
                                        </button>
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div><!--user-profile end-->
            <ul class="user-fw-status">
                <li>
                    <h4>Friends</h4>
                    <span id="friendsNumber">@Model.NumberOfFriends</span>
                </li>
            </ul>
        </div><!--user-data end-->
        @{
            if (Model.CanEditProfileWritePost && Model.FriendRequests.Count > 0)
            {
                <div id="requestsContainer" class="suggestions full-width">
                    <div class="sd-title">
                        <h3>Friend Requests</h3>
                    </div><!--sd-title end-->
                    @foreach (var friendRequest in Model.FriendRequests)
                    {
                        <div class="suggestions-list" id="Req_@friendRequest.initiatorId">
                            <div class="suggestion-usd" @*id="Req_@friendRequest.initiatorId" *@>
                                <img class="profilePic" src="~/ProfilePics/@friendRequest.Photo" alt="">
                                <div class="sgt-text">
                                    <h4>
                                        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@friendRequest.initiatorId">
                                            @friendRequest.FullName
                                        </a>
                                    </h4>
                                </div>
                                <span><i class="la la-minus" onclick="rejectRequest(@friendRequest.initiatorId,@Model.UserInfo.id,@Model.FriendRequests.Count)"></i></span>
                                <span><i class="la la-plus" onclick="acceptRequest(@friendRequest.initiatorId,@Model.UserInfo.id,@Model.FriendRequests.Count)"></i></span>
                            </div>
                        </div><!--suggestions-list end-->
                    }
                </div>
            }
        }
        <div class="tags-sec full-width">
            <ul>
                <li><a href="#" title="">About</a></li>
                <li><a href="#" title="">Language</a></li>
                <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <div class="cp-sec">
                <img src="~/images/facebook-logo-word.png" alt="fblogo" />
                <p>&copy; Copyright 2020</p>
            </div>
        </div><!--tags-sec end-->
    </div><!--main-left-sidebar end-->
</div>


@*Middle Side (Post creation & Showing All Posts)*@
<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
        <div class="user-tab-sec">
            <h3 class="fullNameCurrent">@Model.UserInfo.FullName</h3>
            <div class="star-descp">
                <span class="bioInfo">@Model.UserInfo.Bio</span>
            </div><!--star-descp end-->
            <div class="tab-feed">
                <ul>
                    <li data-tab="feed-dd" class="animated fadeIn active">
                        <a href="#" title="">
                            <img src="~/images/ic1.png" alt="">
                            <span>Posts</span>
                        </a>
                    </li>
                    <li data-tab="info-dd" class="animated fadeIn">
                        <a href="#" title="" onclick="showInfo()">
                            <img src="~/images/ic2.png" alt="">
                            <span>Info</span>
                        </a>
                    </li>
                </ul>
            </div><!-- tab-feed end-->
        </div><!--user-tab-sec end-->

        <div class="product-feed-tab animated fadeIn current" id="feed-dd">
            @*Create Post*@
            @if (Model.CanEditProfileWritePost)
            {
                <div class="post-topbar">
                    <div class="post-st">
                        <ul>
                            <li> <a id="popBtn" data-toggle="modal" data-target="#myModal">What's in your mind?</a></li>
                        </ul>
                    </div><!--post-st end-->
                </div>
            }

            @*Posts*@
            @{
                if (Model.Posts.Count == 0) //if user has no posts yet
                {
                    <div class='posts-section'>
                        <div class="posty">
                            <div class="post-bar no-margin">
                                <div class="post_topbar">
                                    <div class="usy-dt">
                                        <p style="font-size: larger; color: indianred;">
                                            No posts yet!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class='posts-section' id="posts">
                        @foreach (var post in Model.Posts)
                        {
                            <div id="post_@post.PostId" class="posty">
                                <div class="post-bar no-margin">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            @{
                                                if (@Model.UserProfilePhoto == null)
                                                {
                                                    if (@Model.UserInfo.GenderName == "Male")
                                                    {
                                                        <img class="friendListPic" src="~/ProfilePics/default.jpg" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img class="friendListPic" src="~/ProfilePics/default_female.png" alt="">
                                                    }
                                                }
                                                else
                                                {<img class="friendListPic" src="~/ProfilePics/@Model.UserProfilePhoto" alt=""> }
                                            }
                                            <div class="usy-name">
                                                <h3>
                                                    <a asp-action="Profile" asp-controller="Profile" asp-route-id="@Model.UserInfo.id">
                                                        @Model.UserInfo.FullName
                                                    </a>
                                                </h3>
                                                <span><i class="far fa-clock"></i> @post.PostDate</span>
                                            </div>
                                        </div>
                                        @if (post.CanChange)
                                        {
                                            <div class="ed-opts">
                                                <a title="" href="#" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                <ul class="ed-options">
                                                    <li><a onclick="getPostById(@post.PostId)" title="">Edit Post</a></li>
                                                    <li><a onclick="deletePost(@post.PostId)" title="">Delete Post</a></li>
                                                </ul>
                                            </div>
                                        }
                                    </div>

                                    <div class="job_descp">
                                        <p id="postContent_@post.PostId">@post.PostContent</p>
                                        @if (post.PostPhoto != null)
                                        {
                                            <img style="margin-left:23%; width:250px" src="~/PostPics/@post.PostPhoto" />
                                        }
                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">
                                            <li>
                                                <a>
                                                    <i id="heart_@post.PostId" onclick="SendLike(@post.PostId)" style="color:@{
                                                        if (post.IsLike)
                                                        {
                                            @:blue
                                        }
                                                        else
                                                        {
                                            @:gray
                                        }
                                            }" class="la la-heart"></i>
                                                    <button style="color:#076bec; border:none; background-color:white;" type="button" data-toggle="modal" data-target="#exampleModal_@post.PostId">Likes</button>
                                                </a>
                                                <img src="images/liked-img.png" alt="">
                                                <span id="likeNumber_@post.PostId" style="margin-left:1px">@post.numOfLikes</span>
                                            </li>
                                            <li>
                                                <a style="margin-top:16px" title="" class="com"><img src="images/com.png" alt=""> Comments </a>
                                                <span id="commentNumber_@post.PostId" style="margin-left:1px">@post.numOfComments</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--post-bar end-->
                                <div class="comment-section">
                                    <div class="comment-sec">
                                        <ul id="commentContainer_@post.PostId">
                                            @foreach (var comment in post.Comments)
                                            {
                                                <li id="comment_@comment.CommentId">
                                                    <div class="comment-list" style="color:firebrick">
                                                        <div class="bg-img">
                                                            @{
                                                                if (comment.CreatorPhoto == null)
                                                                {
                                                                    <img class="friendListPic" src="~/ProfilePics/default.jpg" alt="">
                                                                }
                                                                else
                                                                { <img class="friendListPic" src="~/ProfilePics/@comment.CreatorPhoto" alt=""> }
                                                            }
                                                        </div>
                                                        <div class="comment">
                                                            <h3>
                                                                <a asp-action="Profile" asp-controller="Profile" asp-route-id="@comment.CommentCreatorId">
                                                                    @comment.FullNameCreator
                                                                </a>
                                                            </h3>
                                                            <span><i class="far fa-clock"></i> @comment.commentDate</span>
                                                            <p>@comment.CommentContent</p>
                                                        </div>
                                                        @if (comment.canRemove)
                                                        {
                                                            <div class="comment">
                                                                <i onclick="deleteComment(@comment.CommentId, @post.PostId)" class="la la-trash"></i>
                                                            </div>
                                                        }
                                                    </div><!--comment-list end-->
                                                </li>
                                            }
                                        </ul>
                                    </div><!--comment-sec end-->
                                    <div class="post-comment">
                                        <div class="comment_box">
                                            <form>
                                                <input id="commentTextBox_@post.PostId" type="text" placeholder="Post a comment">
                                                <button id="sendBtn_@post.PostId" type="button" onclick="SendComment(@post.PostId)">Comment</button>
                                            </form>
                                        </div>
                                    </div><!--post-comment end-->
                                </div><!--comment-section end-->
                            </div>
                        }
                    </div>
                }
            }
        </div><!--product-feed-tab end-->

        <div class="product-feed-tab animated fadeIn current" id="info-dd">
            <div class="user-profile-ov st2 animated fadeIn" id="infoContainer" style="display:none;">
                @*<h3>Info <a href="#" title="" class="exp-bx-open"<i class="fas fa-user-edit"></i></a></h3>*@
                <h3>
                    Info
                    @if (@Model.CanEditProfileWritePost)
                    {
                        <a id="infoModal" data-toggle="modal" data-target="#editInfoModal">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    }
                </h3>
                <h4>Name</h4>
                <p id="infoNameCurrent"> @Model.UserInfo.FullName </p>
                <h4>Bio</h4>
                <p id="infoBioCurrent"> @Model.UserInfo.Bio </p>
                <h4>Birthdate</h4>
                <p id="infoBdCurrent"> @Model.UserInfo.BirthDate </p>
                <h4>Phone #</h4>
                <p id="infoPhoneCurrent"> @Model.UserInfo.PhoneNumber </p>
                <h4>Gender</h4>
                <p id="infoGenderCurrent" class="no-margin"> @Model.UserInfo.GenderName </p>
            </div><!--user-profile-ov end-->
        </div><!--product-feed-tab end-->
    </div>
</div>


@*Right Side (Welcome Panel & Friends List)*@
<div class="col-lg-3">
    <div class="right-sidebar">
        <div class="widget widget-portfolio">
            <div class="wd-heady">
                <h3>Portfolio</h3>
                <img src="~/images/photo-icon.png" alt="">
            </div>

            <div class="pf-gallery">
                <ul>
                    @{
                        if (@Model.AllProfilePhotos.Count == 0)
                        {
                            <li><a href="#" title=""><img src="https://data.europa.eu/euodp/sites/all/themes/openDataPortalTheme/images/no-image-icon.png" alt=""></a></li>
                        }
                        else
                        {
                            @foreach (var photo in @Model.AllProfilePhotos)
                            {
                                <li><a href="#" title=""><img src="~/ProfilePics/@photo" alt=""></a></li>
                            }
                        }
                    }
                </ul>
            </div><!--pf-gallery end-->
        </div><!--widget-portfolio end-->
    </div><!--right-sidebar end-->
</div>
@*-----------------------------------------*@
@*Modals*@

@*Edit User Info Modal*@
<div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="post-body">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <div class="overview-edit">
                                <form>
                                    <label>Name </label><input type="text" name="Name" placeholder="Name"
                                                               value="@Model.UserInfo.FullName" id="infoName" required>
                                    <label>Bio </label><input type="text" name="Bio" placeholder="Bio"
                                                              value="@Model.UserInfo.Bio" id="infoBio" required>

                                    <label>Birthdate </label><input asp-for="@Model.UserInfo.BirthDate"
                                                                    placeholder="Birthdate" id="infoBd" required>
                                    <label>Phone# </label><input type="tel" pattern="^01[0-2]{1}[0-9]{8}" id="infoPhone"
                                                                 name="Phone#" placeholder="Phone #" value="@Model.UserInfo.PhoneNumber">

                                    <label for="@Model.UserInfo.GenderName">Gender</label>

                                    @Html.DropDownList("Gender", null, htmlAttributes: new { @class = "overview-edit-gender", @id = "infoGender" })
                                </form>
                            </div><!--overview-edit end-->
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="editInfo(@Model.UserInfo.id /* UserId */)">Save Changes</button>
            </div>
        </div>
    </div>
</div><!--End EditPost Modal-->
@*Profile Image Upload Modal*@
<div id="myModalUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-edit">
        <button type="button" class="btn btn-default btn-circle" data-dismiss="modal"><i class="la la-times-circle-o"></i></button>
        <!-- Modal content-->
        <div class="modal-content">
            <form enctype="multipart/form-data">
                <div class="modal-header model-header-edit">
                    <h3 id="createTitle">Change Profile Photo</h3>
                </div>
                <div class="modal-body">
                    <div class="post-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="profileImageHolder">

                                </div>
                            </div>

                            <div class="col-lg-12 row " id="image-category">

                            </div>

                            <div class="col-lg-12">
                                <i class="fas fa-image" style="font-size:40px; color:#0e385f;"></i>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profileImage" accept="image/png, image/jpeg" onchange="dispalyPhoto()">
                                    <label class="custom-file-label" for="customFile">Choose Image</label>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div><!--post-project-fields end-->
                </div>
                <div class="modal-footer-Edit modal-footer" style="float:right">
                    <button type="button" class="btn btn-default bg-danger text-white" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn text-white" style="background-color:#0e385f" onclick="changePhoto(@Model.UserInfo.id)">Change Photo</button>
                </div>
            </form>
        </div>
    </div>
</div><!--End Change Image Modal-->
@*Create Post Modal Pop-up*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-edit">
        <button type="button" class="btn btn-default btn-circle" data-dismiss="modal"><i class="la la-times-circle-o"></i></button>
        <!-- Modal content-->
        <div class="modal-content">
            <form enctype="multipart/form-data">
                <div class="modal-header model-header-edit">
                    <h3 id="createTitle">Create Post</h3>
                </div>
                <div class="modal-body">
                    <div class="post-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea id="postTextArea" class="form-control" rows="3" name="PostContent" placeholder="What's in your mind..."></textarea>
                            </div>
                            <div class="col-lg-12 row " id="image-category">

                            </div>
                            <div class="col-lg-12">
                                <i class="fas fa-image" style="font-size:40px; color:#0e385f;"></i>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="postImage" accept="image/png, image/jpeg">
                                    <label class="custom-file-label" for="customFile">Choose Image</label>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div><!--post-project-fields end-->
                </div>
                <div class="modal-footer-Edit modal-footer" style="float:right">
                    <button type="button" class="btn btn-default bg-danger text-white" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn text-white" style="background-color:#0e385f" id="submit" onclick="createPost()">Post</button>
                </div>
            </form>
        </div>
    </div>
</div><!--Create Post Modal end-->
@*Edit Post Modal*@
<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="post-body">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <textarea class="form-control" rows="3" id="postContentTextArea" name="PostContent" onkeydown="checkform()" placeholder="What's in your mind..."></textarea>
                            <input style="display:none" type="text" id="postIdTextBox" />
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="EditPost()">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*Likes Modal*@
@foreach (var post in Model.Posts)
{
    <div class="modal fade" id="exampleModal_@post.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Likes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="likesContainer_@post.PostId" class="modal-body">
                    @if (post.numOfLikes != 0)
                    {
                        @foreach (var like in post.Likes)
                        {
                            <div id="like_@like.LikeId" class="comment-list">
                                <div class="bg-img">
                                    @if (@like.PhotoCreatorLike != null)
                                    {
                                        <img class="friendListPic" src="~/ProfilePics/@like.PhotoCreatorLike" alt="">
                                    }
                                    else
                                    {
                                        <img class="friendListPic" src="~/ProfilePics/default.jpg" alt="">
                                    }

                                </div>
                                <div class="comment">
                                    <h3>
                                        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@like.LikeCreatorId">
                                            @like.FullNameCreatorLike
                                        </a>
                                    </h3>
                                    <span><i class="far fa-clock"></i> @like.DateCreatedLike</span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @:There is no reactions for this post yet.
                        @*<div class="comment-list">
                                 <div class="comment">
                                   <h3>There are no reactions for this post yet.</h3>
                                </div>
                            </div>*@
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script src="~/js/InfoCrud.js"></script>
    <script src="~/js/UserRelationCrud.js"></script>
    <script src="~/js/PostCrud.js"></script>
    <script src="~/js/CommentLike.js"></script>
}
