@model IEnumerable<Facebook.Models.ViewModels.UserAdminControlDto>

@{
    ViewData["Title"] = "UserBan";
    LayoutUserDto layoutUserDto = (LayoutUserDto)ViewData["LayoutData"];
}

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Admin Control</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">

                @foreach (var user in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="~/ProfilePics/@user.ProfilePhotoUrl" alt="">
                                <h3>@user.Fullname</h3>
                                <h4>@user.Bio</h4>
                                <ul>
                                    <li>
                                        @if (layoutUserDto.actions.Where(x => x.Url == "/Account/UserBan").Any())
                                        {
                                            @if (user.IsActive)
                                            {
                                                <button id="BanBtn_@user.Id" type="button" onclick="UserBan(@user.Id)" class="btn btn-danger">Ban</button>
                                            }
                                            else
                                            {
                                                <button id="BanBtn_@user.Id" type="button" onclick="UserBan(@user.Id)" class="btn btn-primary">UnBan</button>
                                            }
                                        }
                                    </li>
                                </ul>
                                <select id="Select_@user.Id" class="roleSelect" onchange="changeRole(@user.Id)" id="roleDropDown">
                                    @foreach (var role in (List<Role>)ViewData["Roles"])
                                    {
                                        @if (layoutUserDto.actions.Where(x => x.Url == "/Account/ChangeRole").Any())
                                        {
                                            if (role.Id == user.RoleId)
                                            {
                                                <option selected value="@role.Id">@role.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@role.Id">@role.Title</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
           
                            <a href="~/Profile/Profile/@user.Id" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                }

            </div>
        </div><!--companies-list end-->
        @*<div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>*@<!--process-comm end-->
    </div>
</section><!--companies-info end-->

<script type="text/javascript" src="~/js/UserBan.js"></script>
